<ion-content>
  <ion-row class="ion-justify-content-center">
    <ion-col sizeXs="12" sizeMd="3">
      <ion-card-content>
        <img src="{{contact?.image}}" alt="">
      </ion-card-content>
    </ion-col>
    <ion-col sizeXs="12" sizeMd="8">
      <ion-card-content>
        <form [formGroup]="form">
          <ion-list>
            <ion-item>
              <ion-label position="floating">Nome</ion-label>
              <ion-input type="text" formControlName="name"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input type="text" formControlName="email"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">CPF</ion-label>
              <ion-input mask='NNN.NNN.NNN-NN' type="text" formControlName="cpf"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Telefone</ion-label>
              <ion-input mask='(NN) NNNNN-NNNN' type="tel" formControlName="phone"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Endereço</ion-label>
              <ion-input type="text" formControlName="address"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Imagem</ion-label>
              <ion-input type="text" formControlName="image"></ion-input>
            </ion-item>
          </ion-list>
        </form>
        <p>
          <ion-button color="primary" shape="round" fill="outline" size="large" expand="full" [disabled]='form.invalid'
            (click)="submit()">
            {{ id ? "Alterar" : "Cadastrar"}}
          </ion-button>
        </p>
      </ion-card-content>
    </ion-col>
  </ion-row>
</ion-content>
<!-- 

  <div class="uk-flex-center" uk-grid>
    <div class="uk-width-1-2@m">
      <div class="uk-card uk-card-default uk-card-body">
        <h3 class="uk-card-title">{{ id ? contact?.name : "Cadastrar"}}</h3>
        <form [formGroup]="form">
          <div class="uk-margin">
            <input type="text" class="uk-input uk-form-large" placeholder="Nome" formControlName="name"
              [ngClass]="{'uk-form-danger': (!form.controls.name.valid && !form.controls.name.pristine)}" maxlength="6">
            <span class="uk-text-danger" *ngIf="(!form.controls.name.valid && !form.controls.name.pristine)">
              Nome inválido
            </span>
          </div>
          <div class="uk-margin">
            <input type="text" class="uk-input uk-form-large" placeholder="Email" formControlName="email"
              [ngClass]="{'uk-form-danger': (!form.controls.email.valid && !form.controls.email.pristine)}">
            <span class="uk-text-danger" *ngIf="(!form.controls.email.valid && !form.controls.email.pristine)">
              Email inválido
            </span>
          </div>
          <div class="uk-margin">
            <input type="tel" class="uk-input uk-form-large" placeholder="CPF" formControlName="cpf"
              [ngClass]="{'uk-form-danger': (!form.controls.cpf.valid && !form.controls.cpf.pristine)}">
            <span class="uk-text-danger" *ngIf="(!form.controls.cpf.valid && !form.controls.cpf.pristine)">
              CPF inválido
            </span>
          </div>
          <div class="uk-margin">
            <input type="text" class="uk-input uk-form-large" placeholder="Telefone" formControlName="phone"
              [ngClass]="{'uk-form-danger': (!form.controls.phone.valid && !form.controls.phone.pristine)}">
            <span class="uk-text-danger" *ngIf="(!form.controls.phone.valid && !form.controls.phone.pristine)">
              Telefone inválido
            </span>
          </div>
          <div class="uk-margin">
            <input type="number" class="uk-input uk-form-large" placeholder="Endereço" formControlName="address"
              [ngClass]="{'uk-form-danger': (!form.controls.address.valid && !form.controls.address.pristine)}">
            <span class="uk-text-danger" *ngIf="(!form.controls.address.valid && !form.controls.address.pristine)">
              Endereço inválido
            </span>
          </div>
          <div class="uk-margin">
            <input type="number" class="uk-input uk-form-large" placeholder="Imagem" formControlName="image"
              [ngClass]="{'uk-form-danger': (!form.controls.image.valid && !form.controls.image.pristine)}">
            <span class="uk-text-danger" *ngIf="(!form.controls.image.valid && !form.controls.image.pristine)">
              Imagem inválida
            </span>
          </div>
        </form>
        <div class=" uk-margin uk-text-right">
          <button class="uk-button uk-button-default" [disabled]="form.invalid"
            (click)="submit()">{{ id ? "Alterar" : "Cadastrar"}}</button>
        </div>
      </div>
    </div>
  </div>
</ion-content> -->